mixin input
  .br6.pa4.flrnw(class!=attributes.class)
    .fln.flc.f2.mr3.titan-white-50
      .icon.icon-search
    input.fla.bw0.bg-transparent.titan-white.f2.outline-0(type="search" value!=attributes.value id!=attributes.id)
