include ./partials/mixins
doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      .slides.bg-white.lh-copy.bunting.f3.fw3

        // Tim Carry
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Who am I?
            .fla.flcnw.h-100
              .fla.flrnw.h-50
                .fln.w-50.flc
                  img.br3.w-60(src='./img/avatar.jpg')
                .fln.w-50.flcnw
                  .fla.flcnw
                    .fla.f-headline.b.flc Tim Carry
                    .fln.f1.b.flc Software Engineer
                  .fla.f-headline.b.algolia-blue.flc @pixelastic

        // TITLE
        section.slide--horizontal.slide--theme1
          .bg-gradient-blue.white.h-100.flcnw.flc
            .f-subheadline.lh-title.mh4.ph6
              .db Fast and Relevant
            .f2.lh-title.mh4.ph6
              .db How search should be.

        // Screencast demo
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Algolia: Search as a Service
            .fla.flcnw.h-100
              .fla.flc
                img.h-100(src='./img/movies.gif')

        // // 3 steps
        // section.slide--horizontal
        //   .h-100.flcnw.pa3
        //     .fln.f1.lh-title.tl.b Algolia in 3 steps
        //     .fla.flcnw.h-100
        //       .fla.flc.h-100
        //         img.h-100(src='./img/3steps.png')

        // Front-end implementation
        section.slide--horizontal(data-transition="fade-in")
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Frontend implementation
            .fla.flcnw.h-100
              .fla.flc
                img(src='./img/api-backend.png')

        // Existing ecosystem
        // section.slide--horizontal
        //   .h-100.flcnw.pa3
        //     .fln.f1.lh-title.tl.b Current ecosystem
        //     .fla.h-100.relative
        //       a.absolute.top-15.left-15.no-underline.no-underline.bunting(href="https://stripe.com/")
        //         +brick('3x1', 'port-gore', './img/saas/stripe.png', 'Payment', 'right')
        //       a.absolute.top-45.left-10.no-underline.bunting(href="https://auth0.com/")
        //         +brick('3x1', 'port-gore', './img/saas/auth0.png', 'Authentication', 'right')
        //       a.absolute.top-75.left-15.no-underline.bunting(href="https://www.netlify.com/")
        //         +brick('3x1', 'port-gore', './img/saas/netlify.svg', 'Hosting', 'right')

        //       a.absolute.top-40.left-40.fragment.no-underline(href="https://www.algolia.com/")
        //         +brick_algolia()

        //       a.absolute.top-15.left-65.no-underline.bunting(href="https://www.twilio.com/")
        //         +brick('3x1', 'port-gore', './img/saas/twilio.svg', 'Messages', 'left')
        //       a.absolute.top-45.left-75.no-underline.bunting(href="https://www.pubnub.com/")
        //         +brick('3x1', 'port-gore', './img/saas/pubnub.svg', 'Notifications', 'left')
        //       a.absolute.top-75.left-65.no-underline.bunting(href="https://cloudinary.com/")
        //         +brick('3x1', 'port-gore', './img/saas/cloudinary.svg', 'Images', 'left')

        // Data material
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.flrnw.h3.flrcv
              .fln.f1 Search into all the
              img.fln.h-100.mh3(src='./img/logo-marvel.svg')
              .fln.f1 superheroes
            .fla.flrnw
              .fla.flc
                pre.bg-near-black.pa3.lh-copy.tl.f3
                  code.language-js
                    |[
                    |  {
                    |    "name": "Iron Man",
                    |    "secretIdentity": "Tony Stark",
                    |    "description": "Wounded, captured and forced to […]",
                    |    "powers": ["Energy repulsors", […], "Super strength"],
                    |    "teams": ["Avengers", […], "Stark Industries"],
                    |    "adventureCount": 2903
                    |    […]
                    |  },
                    |  […]
                    |]
            aside.notes
              p JSON files on disk
              p Schemaless files, but semi-structured data
              p Any attributes, nested ones

        // Dashboard upload
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Dashboard or API
            .fla.flrnw
              .fln.w-third.flcnw.flc
                img(src='./img/dashboard-index.png')
              .fln.w-two-thirds.flc
                .f1.scale-130.tl
                  .db 
                    .b.di All actions 
                    .di are doable either
                  .db through 
                    .di.b.algolia-blue the dashboard
                  .db or 
                    .di.b.shamrock the API
            aside.notes
              p Demo through dashboard will be too easy
              p Let's see some code

        // Pushing data
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Pushing data with Ruby
            .fla.flcnw.flc
              pre.bg-near-black.pa3.lh-copy.tl.w-100
                code.language-ruby
                  |require 'json'
                  |require 'algoliasearch'
              pre.bg-near-black.pa3.lh-copy.tl.w-100.fragment
                code.language-ruby
                  |# Init Algolia index
                  |Algolia.init(
                  |  application_id: 'O3F8QXYK6R', 
                  |  api_key: '476071478e45b023b7ff7d8ba8'
                  |)
                  |index = Algolia::Index.new('superheroes')
              pre.bg-near-black.pa3.lh-copy.tl.w-100.fragment
                code.language-ruby
                  |# Read files from disk
                  |records = JSON.parse(File.read('./superheroes.json'))
              pre.bg-near-black.pa3.lh-copy.tl.w-100.fragment
                code.language-ruby
                  |# Push records to index
                  |index.add_objects!(records)

        // Easy search in dashboard
        section.slide--horizontal.mb4
          .h-100.flcnw.pa3.mb4
            .fln.f1.lh-title.tl.b Testing your queries in the explorer
            .fla.flrnw
              img.w-100(src='./img/dashboard-search-no-settings.gif')

        // Configuring settings
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Configuring your index
            .fla.flrnw
              .fln.w-50.flcnw.flc
                .tl.f1.flcnw.flcspa
                  .bullet-shamrock Fields to search
                  .bullet-shamrock Order of importance
                  .bullet-shamrock Ranking attribute
                  .bullet-shamrock Filters
                  .bullet-shamrock More...
              .fln.w-50.flc
                .db.fla.pa5
                  pre.bg-near-black.pa3.lh-copy.tl.f3
                    code.language-ruby
                      |index.set_settings!(
                      |  searchableAttributes: [
                      |     'name', 
                      |     'secretIdentities',
                      |     'description'
                      |  ],
                      |  customRanking: [
                      |   'desc(ranking.comicCount)'
                      |  ],
                      |  attributesForFaceting: [
                      |   'powers',
                      |   'team',
                      |   'authors'
                      |  ]
                      |)

        // Easy search in dashboard
        section.slide--horizontal.mb4
          .h-100.flcnw.pa3.mb4
            .fln.f1.lh-title.tl.b Now with better relevance
            .fla.flrnw.flc
                img.w-100(src='./img/dashboard-search-settings.gif')

        // Search UI Components
        section.slide--horizontal
          -
            var widgets = [
              {name: 'Searchbar', icon: 'searchbar'},
              {name: 'Results', icon: 'results'},
              // {name: 'Pagination', icon: 'pagination'},
              {name: 'Sort', icon: 'sort'},
              {name: 'Filters', icon: 'refinementlist'},
              // {name: 'Menu', icon: 'menu'},
              {name: 'Slider', icon: 'slider'},
              {name: 'Toggle', icon: 'toggle'},
            ]
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Common components of a search UI
            .fla.flrnw.bg-right.bg-contain(style="background-image:url('./img/instantsearch/ui-animation.gif')")
              .fln.flcnw.w-50.flccv.pa5
                .fla.flcnw.flcspa
                  each widget in widgets
                    .fln.flrnw
                      .fln.flc
                        img.h3(src=`./img/instantsearch/widgets/widget-${widget.icon}.svg`)
                      .fla.f1.flcnw.flccv.tl.pl3.f2= widget.name

        // InstantSearch code example
        section.slide--horizontal(data-transition='fade-out')
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b InstantSearch example
            .fla.flrnw
              .fln.w-50.flcnw.flcspa.ph2
                pre.bg-near-black.ph3.pv1.lh-copy.tl.f3
                  code.language-html
                    |&lt;body&gt;
                    |  &lt;script src="./instantsearch.js"&gt;&lt;/script&gt;
                    |  &lt;div id="searchbox"&gt;&lt;/div&gt;
                    |  &lt;div id="teams"&gt;&lt;/div&gt;
                    |  &lt;div id="hits"&gt;&lt;/div&gt;
                    |&lt;/body&gt;
                pre.fln.bg-near-black.ph3.pv1.lh-copy.tl.f3.fragment
                  code.language-js
                    |let search = instantsearch({
                    |  appId: 'O3F8QXYK6R',
                    |  apiKey: '78e45b023b7ff7d8ba88c59c9db19890',
                    |  indexName: 'superheroes'
                    |});
              .fln.w-50.ph2
                pre.bg-near-black.ph3.pv1.lh-copy.tl.f3.fragment
                  code.language-js
                    |search.addWidget(
                    |  instantsearch.widgets.searchBox({
                    |    container: '#searchbox'
                    |  })
                    |);
                    |search.addWidget(
                    |  instantsearch.widgets.hits({
                    |    container: '#hits',
                    |    template: "<h3>{{name}}</h3><p>{{description}}</p>"
                    |  })
                    |);
                    |search.addWidget(
                    |  instantsearch.widgets.refinementList({
                    |    container: '#teams',
                    |    attributeName: 'teams'
                    |  })
                    |);

        // Marvel link
        section.slide--horizontal(data-transition='fade-in')
          .absolute.absolute-0.bg-cover.bg-top(style="background-image: url('./img/demo-marvel.gif')")
          .absolute.bottom-1.right-0.left-0.flrnw.flc
            a.white.f1.bg-black-90.pa3.br4(href="https://community.algolia.com/marvel-search/") https://community.algolia.com/marvel-search/

        // InstantSearch family
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b InstantSearch
            .fla.flcnw
              .fla.flrnw
                a.fln.w-third.flc(href="https://community.algolia.com/instantsearch.js/")
                  img(src='./img/instantsearch/instantsearch-medal.svg')
                .fln.w-two-thirds.flcnw.flc.f-subheadline
                  .fln Library of search UI 
                    .di.b widgets
              .fln.flrw.flrspa.mb4
                a.fln.w-third.flc(href="https://community.algolia.com/react-instantsearch/")
                  img.mv3(src='./img/instantsearch/InstantSearch-React.svg')
                a.fln.w-third.flc(href="https://community.algolia.com/vue-instantsearch/")
                  img.mv3(src='./img/instantsearch/InstantSearch-Vue.svg')
                a.fln.w-third.flc(href="https://community.algolia.com/angular-instantsearch/")
                  img.mv3(src='./img/instantsearch/InstantSearch-Angular.svg')
              .fln.flrw.mb4
                a.fln.w-third.flc.ml-15(href="https://community.algolia.com/instantsearch-android/")
                  img.mv2(src='./img/instantsearch/InstantSearch-Android.svg')
                a.fln.w-third.flc.mr-15(href="https://community.algolia.com/instantsearch-ios/")
                  img.mv2(src='./img/instantsearch/InstantSearch-iOS.svg')

        // Ruby family
        section.slide--horizontal
          .h-100.flcnw.pa3
            .fln.f1.lh-title.tl.b Algolia for Ruby
            .fla.flcnw.flccv
              .fln.flrnw.flrspa.h5
                a.fln.w5.h5.relative(href="https://github.com/algolia/algoliasearch-client-ruby")
                  .absolute-0.ma2.br3.shadow-1.flcnw.bg-ghost
                    .fla.flc.h-100
                      img.h-100(src="./img/algolia/languages/ruby.svg")
                    .fln.bg-athens-gray.blue.ma2.tc.f2 Ruby
                a.fln.w5.h5.relative(href="https://github.com/algolia/algoliasearch-rails")
                  .absolute-0.ma2.br3.shadow-1.flcnw.bg-ghost
                    .fla.flc.h-100
                      img.h-100(src="./img/algolia/languages/rails.svg")
                    .fln.bg-athens-gray.blue.ma2.tc.f2 Rails
                a.fln.w5.h5.relative(href="https://community.algolia.com/jekyll-algolia/")
                  .absolute-0.ma2.br3.shadow-1.flcnw.bg-ghost
                    .fla.flc.h-100
                      img.h-60(src="./img/algolia/languages/jekyll.png")
                    .fln.bg-athens-gray.blue.ma2.tc.f2 Jekyll


        // Questions
        section.slide--horizontal.slide--theme1
          .bg-gradient-blue.white.h-100.flcnw.flc
            .f-headline
              .di.c-contact.c-contact--email(data-name='email')
                |tim@
                .di.c-contact.c-contact--website(data-name='company')
                  .di.c-contact.c-contact--twitter(data-name='twitter')
                    |algolia
                  |.com


        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer

