// Screencast demo
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Algolia: Search as a Service
    .fla.flcnw.h-100
      .fla.flc
        img.h-100(src='./img/movies.gif')
  aside.notes
    p Search API. Push copy of data, expose endpoint to search in it
    p Fast & Relevant
    p Typos, plurals, synonyms
    p Allow creating this UI. Each character is a call

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Algolia: Search as a Service
    .fla.flcnw.h-100
      .fla.flc
        | Explaining frontend/backend, API-based
