// TITLE 1
section.slide--horizontal.slide--theme1(data-transition='fade-out')
  .bg-gradient-blue.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 Live demo

// Demo
section.slide--horizontal(data-transition='fade-in')
  .absolute.absolute-0.bg-cover.bg-top(style="background-image: url('./img/demo-marvel.gif')")
  .absolute.bottom-1.right-0.left-0.flrnw.flc
    a.white.f1.bg-black-90.pa3.br4(href="https://community.algolia.com/marvel-search/") https://community.algolia.com/marvel-search/

// Instantsearch flavors
// Rails, jekyll, Ruby pur
// Rubygems PR

// InstantSearch family
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b InstantSearch
    .fla.flcnw
      .fla.flrnw
        .fln.w-third.flc
          img(src='./img/instantsearch/instantsearch-medal.svg')
        .fln.w-two-thirds.flcnw.flc.f-subheadline
          .fln Library of search UI 
            .di.b widgets
      .fln.flrw.flrspa.mb4
        .fln.w-third.flc
          img.mv3(src='./img/instantsearch/InstantSearch-React.svg')
        .fln.w-third.flc
          img.mv3(src='./img/instantsearch/InstantSearch-Vue.svg')
        .fln.w-third.flc
          img.mv3(src='./img/instantsearch/InstantSearch-Angular.svg')
      .fln.flrw.mb4
        .fln.w-third.flc.ml-15
          img.mv2(src='./img/instantsearch/InstantSearch-Android.svg')
        .fln.w-third.flc.mr-15
          img.mv2(src='./img/instantsearch/InstantSearch-iOS.svg')

// Ruby family
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Algolia for Ruby
    .fla.flcnw.flccv
      .fln.flrnw.flrspa.h5
        .fln.w5.h5.relative
          .absolute-0.ma2.br3.shadow-1.flcnw
            .fla.flc.h-100
              img.h-100(src="./img/algolia/languages/ruby.svg")
            .fln.bg-athens-gray.blue.ma2.tc.f3 Ruby
        .fln.w5.h5.relative
          .absolute-0.ma2.br3.shadow-1.flcnw
            .fla.flc.h-100
              img.h-100(src="./img/algolia/languages/rails.svg")
            .fln.bg-athens-gray.blue.ma2.tc.f3 Rails
        .fln.w5.h5.relative
          .absolute-0.ma2.br3.shadow-1.flcnw
            .fla.flc.h-100
              img.h-100(src="./img/algolia/languages/jekyll.svg")
            .fln.bg-athens-gray.blue.ma2.tc.f3 Jekyll


